{% extends 'myapp/navbar.html' %}  
<!-- {% load static %} -->
<title>{% block title %}Group assignment{% endblock title %}</title>

{% block content %}
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h3 class=" site-heading my-4 mt-3 text-black"> Welcome to our Food Waste Tracker </h3>
              </div>
            </div>
          </div>
        </div>
    </header>
	<div class="container">
			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About Me ???</h4>
					<hr>
					<pre>Well, First of all I would like to say I am definitely not a front-end guy ( as you can guess after looking this site :) </pre>
					<pre>Then Who am I ? 
                        
I am just a normal person who always tried out many different things but somehow now wants to master one. So, today I am here with my website in your hand to share different things that I have learnt from my experiences.</pre>
                        <!-- <div class="footer-icons">
                            <a href="https://www.facebook.com/yogesh.upreti.98"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                      
                          </div> -->
				</div>
			</div>
		</div>
    </div>
{% endblock %}
